[Desktop Entry]
Encoding=UTF-8
Name=KoreaTrueMoney
Comment=KoreaTrueMoney P2P Cryptocurrency
Comment[fr]=KoreaTrueMoney, monnaie virtuelle cryptographique pair à pair
Comment[tr]=KoreaTrueMoney, eşten eşe kriptografik sanal para birimi
Exec=/usr/bin/koreatruemoney-qt
Terminal=false
Type=Application
Icon=/usr/share/pixmaps/bitcoin80.xpm
MimeType=x-scheme-handler/koreatruemoney;
Categories=Office;
